:root {
  --1color: #191919;
  --2color: #2d4263;
  --text-color: #c84b31;
  --text2-color: #ecdbba;
  --hospital-green: #acd9b2;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  
}
body {
  background-color: var(--1color);
  color: var(--text-color);
  font-family: "Quicksand", sans-serif;
  
}
header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: var(--2color);
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 20px;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  margin: 10px;
}

.title {
  padding: 5px;
  font-size: var(--lg);
  font-weight: 700;
}
.subtitle {
    margin: 5px;
    font-size: var(--md);
    font-weight: 500;
    text-align: center;
}
img {
  width: 200px;
  height: 200px;
}
.img-container {
  display:inline-block;
  text-align: center;
  max-width: 200px;
}
.result {
  color: var(--text2-color);
  font-size: var(--md);
  font-weight: bold;
}
.form-container {
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--text2-color);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
label {
  font-size: var(--md);
  font-weight: 300;
  text-align: center;
}
::placeholder {
  font-size: var(--sm);
  font-weight: 500;
  text-align: center;
}
.primary-input {
  border-radius: 8px;
  border: none;
  font-size: var(--md);
  width: 100%;
  height: 50px;
  padding: 15px;
}
.primary-button{
  background-color:var(--2color);
  border-radius: 8px;
  border: none;
  color: var(--text-color);
  font-size: var(--md);
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
}
.secondary-button {
  background-color:var(--text-color);
  border-radius: 8px;
  border: none;
  color:var(--2color);
  font-size: var(--md);
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
}
footer {
  width: 100%;
  height: 50px;
  background-color: var(--2color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--md);
  font-weight: 300;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
}
@media (max-width: 640px){
    main {
        flex-direction: column;
    }
    footer {
      display: none;
    }
    .img-container {
      display:flex;
      text-align: center;
      flex-direction: column;
    }
}
@media (max-height: 640px){
  footer {
    display: none;
  }
}